@import "tailwindcss";
@import "tw-animate-css";

/* Hide scrollbar */
::-webkit-scrollbar {
  display: none;
}

@theme {
  /* Font Family */
  --font-primary: var(--font-roboto);

  /* Colors */
  --color-white: #ffffff;
  --color-black: #000000;
}

@layer base {
  body {
    /* Typography */
    font-family: var(--font-primary);
    font-size: 14px;
    font-weight: 500;
    color: var(--color-black);

    /* Visual */
    background-color: var(--color-white);
  }
}