@import "tailwindcss";
@import "tw-animate-css";

/* Hide scrollbar */
::-webkit-scrollbar {
  display: none;
}

@theme {
  /* Font Family */
  --font-primary: var(--font-sofia);

  /* Colors */
  --color-yellow_cream: #FBF8CC;
  --color-blue_dark: #03045E;
  --color-gray_dark: #222222;
}

@layer base {
  body {
    /* Typography */
    font-family: var(--font-primary);
    font-size: 14px;
    font-weight: 500;
    color: var(--color-black);

    /* Visual */
    background-color: var(--color-gray_dark);
  }
}