@import "tailwindcss";
@import "tw-animate-css";

/* Hide scrollbar */
::-webkit-scrollbar {
	display: none;
}

@theme {
	/* Font Family */
	--font-primary: var(--font-sofia);

	/* Colors */
	--color-blue-dark: #1b263b;
	--color-gray-dark: #222222;
	--color-white-fade: #dadada;
	--color-blue-fade: #2c3a53;
}

@layer base {
	body {
		/* Typography */
		font-family: var(--font-primary);
		font-size: 14px;
		font-weight: 500;
		color: var(--color-black);

		/* Visual */
		background-color: var(--color-blue_dark);
	}
}
